body {
  box-sizing: border-box;
  min-height: 100dvh;
  background-color: #bfa2db;
  width: auto;
  margin: 0;
}

header {
  background-color: purple;
  color: white;
  padding: 10px 0;
  font-family: "Roboto";
  font-size: 18px;
  text-align: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.gameboard-container {
  margin-top: 100px;
  width: 300px;
  height: 300px;
  border: 2px solid pink;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.g {
  font-size: 14px;
}

.result {
  box-sizing: border-box;
  background-color: black;
  text-align: center;
  color: white;
  padding: 10px;
  width: 300px;
  height: 50px;
}
